{# templates/security/register.html.twig #}

<h1>Enregistrer</h1>


{{ form_start(form) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
<button type="submit">Enregistrer</button>

{{ form_end(form) }}
